---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2//pokemon?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19ec-sX9KrVs1jNhl+wwnoL+ZnNEVW5I"
      Function-Execution-Id:
      - n4l91rxx4vlh
      X-Cloud-Trace-Context:
      - bf4e4637facd638e6a82597201bf59a8
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9,zh-CN;q=0.8,zh;q=0.7
    body:
      encoding: ASCII-8BIT
      string: '{"count":1302,"next":"https://pokeapi.co/api/v2/pokemon?offset=100&limit=100","previous":null,"results":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon/1/"},{"name":"ivysaur","url":"https://pokeapi.co/api/v2/pokemon/2/"},{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon/3/"},{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon/4/"},{"name":"charmeleon","url":"https://pokeapi.co/api/v2/pokemon/5/"},{"name":"charizard","url":"https://pokeapi.co/api/v2/pokemon/6/"},{"name":"squirtle","url":"https://pokeapi.co/api/v2/pokemon/7/"},{"name":"wartortle","url":"https://pokeapi.co/api/v2/pokemon/8/"},[...]
